<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <description>header settings</description>
            <url-pattern>/studentApplication.jsp</url-pattern>
            <url-pattern>/studentApplicationStatus.jsp</url-pattern>
            <url-pattern>/staffLogin.jsp</url-pattern>
            <url-pattern>/FAQ.jsp</url-pattern>
            <!--<url-pattern>/viewStudents.jsp</url-pattern>-->
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
        </jsp-property-group>
        <jsp-property-group>
            <description>staff portal header settings</description>
            <url-pattern>/viewStudents.jsp</url-pattern>
            <url-pattern>/viewDocumentation.jsp</url-pattern>
            <url-pattern>/rankDocuments.jsp</url-pattern>
            <url-pattern>/updateStudentApp.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/staffHeader.jspf</include-prelude>
        </jsp-property-group>
    </jsp-config>
    <resource-ref>
        <description>connects to database for postgrad application</description>
        <res-ref-name>jdbc/postgrad</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
