/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 12, 2014, 6:58:48 PM
    Author     : Peloza
*/

#header
{
    width: 1250px;
    margin: 0 auto;
    background-color: #ccccff;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: end;
    font-weight: bolder;
}

#logo
{
    height: 100px;
    width: 150px;
    float: left;
    margin-left: 20px;
    margin-top: -95px;
}

#body
{
   font-family: Arial, Helvetica, sans-serif;
   width: 850px;
   text-align: justify;
   margin: 20px auto;
}

#main
{
    background: #ffffff;
}

ul
{
    list-style-type: none;
    margin-left: 15px;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 10px;
}

li
{
    display: block;
    float: left;
}

a:link, a:visited
{
    font-weight: bolder;
    background-color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin-left: 30px;
    padding-right: 60px;
    
}

a:hover, a:active
{
    //background-color: #E8E8E8;
}

li ul
{
    display: none;
    position: absolute;
}

li:hover ul
{
    display: block;
    height: 250px;
    width: 350px;
}

li ul li
{
    clear: both;
    border-style: none;
}


#content
{
    font-family: Arial, Helvetica, sans-serif;
   text-align:justify;
   
}

h2
{
    font-size: 18px;
    margin-top: 50px;
}